
/* 
    Created on : Oct 26, 2024, 9:20:32 PM
    Author     : pedro
*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #FFF4E6;
    color: #215E99;
}
/************************ TOP Area *****************************/
header {
    width:100%;
    background-color: #156082;
    display: flex;
    position: fixed;
    color: #A6CAEC;
}
header a {
    color:whitesmoke;
}
header img {
    width:10px;
}
.headerRefs {
    color:whitesmoke;
}
.TopTitle {
    margin-left: 15%;
}
.container {
    width:100%;
}
.about-container {
    display: flex;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}
.profile-container {
    display: flex;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    
}
leftS {
    float: left;
    width: 50%;
}
.leftS {
    float: left;
    width: 40%;
}

.logo {
    margin-top: 10%;
    width: 60%;
    margin-left: 5%;
}

righS {
    float: right;
    width: 50%;
    margin-top: 140px;
}
.righS {
    float: right;
    width: 45%;
    margin-top: 140px;
}

.button1 {
    background-color: #156082;
    color: white;
    width: 120px;
    height:50px;
    border-radius: 25px;

}
.button1:hover {
    background-color: blue;
}
.button2 {
    background-color: #156082;
    color: white;
    width: 120px;
    height:20px;
    border-radius: 5px;

}


errorMes {
    color: red;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.stars {
    display: flex;
    flex-direction: row;
}
.star {
    font-size: 3rem;
    color: #ccc; /* Default color */
    cursor: pointer;
}
.star.filled {
    color: #f39c12; /* Filled star color */
}
.star2 { 
    font-size: 2em; 
    color: gold; 
} 
.star2.empty { 
    color: lightgray; 
}
.readonly {
    color: #215E99;
    background: transparent;
    border: none;
    width: 55px;
    font-size: 1rem;
    padding-left: 20px;


}
ratMax {
    margin-top: 23px;
    margin-left: -43px;
    font-size: 1rem;

}
.shoeimage {
    border-radius: 25px;
    width: 340px;
    height: auto;
}
.reviewimage {
    border-radius: 10px;
    width: 100px;
    height: auto;
}

.searchImage {
    border-radius: 10px;
    width: 140px;
    height: auto;
}
table.searchTable {
    border-collapse: separate;
    border-spacing: 10px;
    *border-collapse: expression('separate', cellSpacing='10px');

}
table.searchTable td {
    width:300px;
    padding: 20px;
    background-color: peachpuff;
}
Label {
    /* Other styling... */
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}
.noManInput {
    background-color: transparent;
    border: none;
    color: #215E99;
    pointer-events: none;
    font-size: medium;
    width:400px;
}
.col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.thumbnail{
    display:block;
    padding:4px;
    margin-bottom:20px;
    line-height:1.42857143;
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:4px;
    -webkit-transition:border .2s ease-in-out;
    -o-transition:border .2s ease-in-out;
    transition:border .2s ease-in-out
}
.container2{
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}
.form-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.form-container form {
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}
.myReviews li{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around ;
    padding-top: 5px;
    padding-bottom: 5px;
    height:80px;
    border:1px solid #ddd;
    border-radius:4px;
    padding-left: 10px;
    width:98%;
}

.MyComments {
    
    background-color: cornsilk;
    border:1px solid #ddd;
    border-radius:2px;
    width:350px;
    height:70px;
}
.pagination { 
    display: flex; 
    flex-direction: row; 
    margin-top: 20px; 
    margin: 0 5px; 
    padding: 10px; 
}
.pagination button {
    background-color: #156082;
    color:whitesmoke;
    width:80px;
    border-radius:4px;
}
.sku {
    width:140px;
}
.passwordLabel {
    width: 80px;
}

.profileImg {
    width:240px;
    height:auto;
    border-radius: 10px;
}